extends layout

block content
  div.container
    h1 Welcome to #{title}
    h3
      - if(username)
        | Hello #{username}
    p
      Use this document as a way to&nbsp;
      a(href="#", data-toggle="tooltip", title="first tooltip", id="example")
        | hover over me
      &nbsp;quick start any new project.

      br
      All you get is this message and a barebones HTML document.
      i.icon-search

